.city-input {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 14vh 0;
    align-items: center;
}

.input-wrap,
form {
    position: relative;
}

input,
button,
.city-input>button:before {
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
}

input,
.city-input>button {
    font-size: 18px;
    line-height: 45px;
    border: 1px solid white;
    border-radius: 25px;
}

input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    color: black;
    padding: 0 25px;
    font-weight: normal;
    min-width: 500px;
}

input::placeholder {
    text-transform: none;
}

input:defined {
    text-transform: capitalize;
}

input:focus-within {
    text-transform: capitalize;
}

.input-wrap button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    color: gold;
    font-size: 25px;
}

input::placeholder {
    color: grey;
}

.input-wrap button {
    transition: .3s;
}

.error-msg {
    position: absolute;
    right: 20px;
    top: 55px;
    color: red;
    font-size: 18px;
}

.city-input>button {
    position: absolute;
    top: -5px;
    right: 30%;
    border-radius: 50%;
    padding: 0 55px;
    border: none;
    font-family: 'weathericons', 'Montserrat', sans-serif;
    cursor: pointer;
}

.input-wrap button:hover,
.city-input>button:hover,
.city-input>button:hover::before {
    color: white;
    background: rgb(144, 196, 214);
}